<nav class="navbar sticky-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" [routerLink]="['/home']"><img src="../../../../assets/img/Logo.png" alt="logo" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link">Nouveautés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Catégories</a>
                </li>
                <li cla ss="nav-item">
                    <a class="nav-link icon1" [routerLink]="['/login']" routerLinkActive="router-link-active" >
                        <app-icon class="icon" [name]="'person'" [size]="1.5"></app-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link icon2" [routerLink]="['/shopping']" routerLinkActive="router-link-active">
                        <app-icon class="icon" [name]="'cart2'" [size]="1.5"></app-icon>
                    </a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="search">
                <button class="btn btn-outline" type="submit">Rechercher</button>
            </form>
    </div>
</nav>