@use "../../assets/scss/variables" as v;

@mixin flexAround() {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexBetween() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin flexCenterVertical() {
    display: flex;
    align-items: center;
}

@mixin absoluteCenter() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

@mixin relativeCenter() {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

@mixin gradient($listColor) {   
    background: -webkit-linear-gradient($listColor);
    background: -moz-linear-gradient($listColor);
    background: -o-linear-gradient($listColor);
    background: linear-gradient($listColor);  
}

@mixin rounded($radius: 0.5em) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

@mixin separator($width){
    content: "";
    height: 1pt;
    background-color: v.$darkPink;
    max-width: $width;
    margin: 0px auto 50px auto;
}

@mixin title($color, $fontSize) {
    font-size: $fontSize+px;
    color: $color;
    font-family: v.$PressStart2P;
}

@mixin button(){
    width: 90px;
    height: 35px;
    font-family: v.$ChakraPetch;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

@mixin buttonPurple(){
    @include button();
    background-color: v.$darkPurple;
    color: v.$lightPurple;
    &:hover{
        background-color: v.$lightPurple;
        color: v.$darkPurple;
        border: solid 1px v.$darkPurple;
    }
    &:disabled{
        background-color: v.$lightPurple;
        color: v.$darkPurple;
    }
}

@mixin buttonPink(){
    @include button();
    background-color: v.$darkPink;
    color: v.$darkPurple;
    &:hover{
        background-color: v.$lightPurple;
        color: v.$darkPink;
        border: solid 1px v.$darkPink;
    }
    &:disabled{
        background-color: v.$lightPink;
        color: v.$darkPurple;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 992px) { @content; }
}
@mixin for-tablet-landscape-down {
    @media (max-width: 992px) { @content; }
}
@mixin for-mobile-landscape-down {
    @media (max-width: 576px) { @content; }
}