<h1 class="text-center">Choisis ton mode de livraison</h1>
<div class="back-link">
    <app-icon [name]="'arrow-left'" [size]="1.5" [color]="'#E35D6A'"></app-icon>
    <a [routerLink]="['/shopping']" >Retour</a>
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioDefault" id="radioStandard">
                        <label class="form-check-label text-purple" for="radioStandard">
                          Livraison STANDARD
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioDefault" id="radioExpress" checked>
                        <label class="form-check-label text-purple" for="radioExpress">
                          Livraison EXPRESS
                        </label>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <div><app-icon [name]="'truck'" [size]="1.2" [color]="'#E35D6A'"></app-icon></div>
                    <div><app-icon [name]="'clock'" [size]="1.2" [color]="'#E35D6A'"></app-icon></div>
                </div>
                <div class="col-md-4 col-sm-4 text-purple text-end">
                    <p>€</p>
                    <p>€</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
      <app-shopping-summary></app-shopping-summary>
    </div>
  </div>