@use "../../../../assets/scss/variables" as v;
@use "../../../../assets/scss/mixin" as m;

.footer{
    background-color: v.$lightPurple;
    padding-top: 20px;
}

ul {
    margin-bottom: 0px;
}
.menu{
    list-style: none;
    @include m.for-tablet-landscape-up{
        display: flex;
        justify-content: space-around;
        margin: 0px 130px;
    }

    & .menu-item{
        color: v.$darkPurple;
        @include m.title(v.$darkPurple, 10);
        padding-bottom: 10px
    }
    & .menu-item:hover{
        color: v.$darkPink;
        cursor: pointer;
    }
}

.copyright{
    font-family: v.$Inter;
    color: v.$darkPink;
}

.copyright{
    margin-top: 20px;
    font-family: v.$Inter;
    color: v.$darkPink;
    @include m.for-mobile-landscape-down{
        font-size: 0.7rem;
    }
}