<h1 class="text-center">Ton panier</h1>
<div>
    <a class="home-return" [routerLink]="['/home']">
        Retour <app-icon class="icon" [name]="'arrow-return-left'" [size]="1.2" [color]="'#F1AEB5'"></app-icon>
    </a>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="col" *ngFor="let detail of productDetails">
            <app-product-detail [productDetails]="detail"></app-product-detail>
        </div>
    </div>
    <div class="col-md-5">
      <app-shopping-summary></app-shopping-summary>
    </div>
  </div>
  
