<h1 class="text-center">Ton panier</h1>
<div class="back-link">
    <app-icon [name]="'arrow-90deg-left'" [size]="1.5" [color]="'#E35D6A'"></app-icon>
    <a [routerLink]="['/']" >Retour</a>
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="my-4">
            <div class="col" *ngFor="let detail of productDetails">
                <app-product-detail [productDetails]="detail"></app-product-detail>
            </div>
        </div>
    </div>
    <div class="col-md-5">
      
    </div>
  </div>
  
